<div ng-controller="StoreController as store">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products | orderBy:'name'">

      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
        <img ng-src="{{product.images[0].full}}"/>
      </h3>

      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{ active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Tab</a></li>
          <li ng-class="{ active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Tab</a></li>
          <li ng-class="{ active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Tab</a></li>
        </ul>

        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>

          <p>{{product.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specification</h4>

          <p>None yet</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <h4>Reviews</h4>

          <p>None yet</p>
        </div>

      </section>

    </li>
  </ul>
</div>
